<div [formGroup]="form">
<h3>Student: {{ studentName.value }}</h3>
  <label for="studentName">Student Name</label>
  <input id="studentName" type="text" formControlName="studentName">
<h3>Add Course Lessons:</h3>
  <ng-container formArrayName="lessons">
    <ng-container *ngFor="let lessonForm of lessons.controls; let i = index">
      {{lessonForm.value | json}}
      <div [formGroupName]="i">
        <label for="title">Title</label>
        <input id="title" type="text" formControlName="title">
        <label for="level">Level</label>
        <input id="level" type="text" formControlName="level">
        <button (click)="deleteLesson(i)">
          delete_forever</button>
      </div>
    </ng-container>
  </ng-container>
  <button (click)="addLesson()">add</button>
  <div><b>full array:</b> {{lessons.value | json}}</div>
</div>