<div>
  <!--  base Reactive Form to examine FormModel (FormGroup & FormControl) -->
  <form #f="ngForm" [formGroup]="loginForm" (ngSubmit)="onSubmit(f)" >
    <div>
      <label for="myId">Username</label>
      <input #user name="username" formControlName="username" id="myId" required/></div>
    <div>
      <label for="myId2">Password</label>
      <input name="password" formControlName="password" id="myId2"/></div>
    <div>
      <button type="submit">Submit</button>
    </div>
    <!-- Debugging within template -->
    <pre><b>(Comp Prop) Form value:</b> {{ loginForm.value | json }}</pre>    <!-- via comp prop -->
    <pre><b>(Comp Prop) Form valid:</b> {{ loginForm.valid }}</pre>
    <pre><b>(temp ref var) Form value:</b> {{ f.value | json }}</pre>         <!-- via #f temp ref var -->
    <pre><b>(temp ref var) Form valid:</b> {{ f.valid }}</pre>
    <pre><b>(temp ref var) First value:</b> {{ user.value }}</pre>            <!-- via #user temp ref var -->
  </form>
</div>
