.panel div {
  margin: 10px 0px 5px 10px;
    input {
        margin-left: 100px;
    }
    button {
        margin-left: 10px;
    }
}

button {
  background-color: lightgray;
}

.noOrder {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 8px 0 0 100px;
}

.order-results {
  margin: 20px 0px 40px 110px;
  .grid-row {
    width: 600px;
    background-color: ghostwhite;
    border: 1px solid lightgrey;
    span {
      padding-left: 4px;
    }
  }
  .grid-heading {
    font-weight: 700;
  }
  a {
    float: right;
    margin-right:20px;
  }
}

.grid-row:hover {
  background-color: aliceblue !important;
}