<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <a class="navbar-brand" routerLink="/portal" routerLinkActive="active hl-active">
    <img src="HermesLogo-NG.png" alt="Hermes Image..." height="50">
    <span style="color:grey; font-size:0.8rem; font-style:italic">({{appVersion}})</span>
  </a>
  <span *ngIf="navMenu.isMobile()" class="navbar-text navbar-center">
    {{navMenu.title}}
  </span>
  <button *ngIf="isLoggedIn()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div *ngIf="isLoggedIn()" class="collapse navbar-collapse" id="navbarSupportedContent" data-toggle="collapse" data-target="#navbarSupportedContent.show">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item sliding-u-l-r hl-nav-item">
        <a class="nav-link" routerLink="/portal" routerLinkActive="active"> <i class="fa fa-home fa-lg" aria-hidden="true"></i></a>
      </li>
<!--      <li class="nav-item sliding-u-l-r hl-nav-item">-->
<!--        <a class="nav-link" routerLink="#" routerLinkActive="active">Apps</a>-->
<!--      </li>-->
      <li class="nav-item dropdown hl-nav-item">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Apps
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <div class="hl-user-container">
            <div *ngIf="navMenu.userDataFetched" class="hl-app-title">
              <a *ngIf="!navMenu.isSuperUser()" href="https://localhost:44355/" class="btn btn-info hl-app-link">eCheckin</a >
              <a *ngIf="!navMenu.isSuperUser()" href="https://localhost:44354/"  class="btn btn-info hl-app-link">Track&Trace</a>
            </div>
            <div class="dropdown-divider settings-divider"></div>
          </div>
        </div>
      </li>
      <li class="nav-item sliding-u-l-r hl-nav-item">
        <a class="nav-link" routerLink="/admin/org-details" routerLinkActive="active">Admin</a>
      </li>
<!--      <li class="nav-item dropdown hl-nav-item">-->
<!--        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"-->
<!--           aria-haspopup="true" aria-expanded="false">-->
<!--          <i class="fa fa-filter fa-lg" aria-hidden="true"></i>-->
<!--        </a>-->
<!--        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">-->
<!--          <div class="hl-user-container">-->
<!--            <div *ngIf="navMenu.ghDefaulted && !navMenu.noGroundHandlerWarning" class="hl-gh-title">Ground Handler</div>-->
<!--            <div *ngIf="!navMenu.ghDefaulted && !navMenu.noGroundHandlerWarning" class="hl-gh-title">Select Ground Handler</div>-->
<!--            <div *ngIf="navMenu.noGroundHandlerWarning" class="hl-gh-title">No GroundHandlers found for user</div>-->
<!--            <div></div>-->
<!--            <div class="dropdown-divider settings-divider"></div>-->
<!--            <div *ngFor="let gh of navMenu.groundHandlers; let i=index" class="hl-gh-container">-->
<!--              <div class="hl-gh" (click)="onGHChanged(i)" [ngClass]="{'hl-gh-selected': isGHSelected(i) }">{{gh.val}}</div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </li>-->
<!--      <li *ngIf="!navMenu.isMobile()" class="hl-nav-boilerplate pr-1">{{displayGroundHandler()}}</li>-->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
          <svg width="30" height="30">
            <circle cx="15" cy="15" r="15" fill="rgba(87,147,146,.40)"></circle>
            <text x="50%" y="50%" text-anchor="middle" fill="rgba(255,255,255,.75)" dy=".3em">{{getAvatarName()}}</text>
          </svg>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navDropdown">
          <div class="hl-user-container">
            <div class="hl-username">{{user}}</div>
            <div class="hl-email">{{userEmail}}</div>
          </div>
          <div class="dropdown-divider logoff-divider"></div>
          <a class="dropdown-item nav-link" routerLink="/" (click)="logout()"><i class="fa fa-sign-out mr-1" aria-hidden="true"></i>Logoff</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
