html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* or [matdialogtitle][cdkdraghandle] */
.mat-dialog-title.cdk-drag-handle {
  cursor: move;
  /*cursor: grab;*/
  color: pink;
  margin: -24px -24px 0px -24px !important;
  padding: 10px 24px;
  background: #369;
}

.myDynClass {
  resize: both;
  overflow: auto;
}
