/*@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";*/
/*@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";*/
/*@import "../node_modules/@angular/material/prebuilt-themes/pink-bluegrey.css";*/
/*@import "../node_modules/@angular/material/prebuilt-themes/purple-green.css";*/


body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 5px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

/* Material Theme */
/* target Progress Bar colours */
/*.mat-progress-bar-buffer {  background-color: cadetblue; }*/
/*.mat-progress-bar-fill::after {  background-color: orange; }*/
/*pattern circle { fill: lightgrey; }*/

/* target Spinner colours */
/*.mat-progress-spinner circle, .mat-spinner circle {*/
  /*stroke: orange !important;*/
/*}*/
