<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ng-test-skeleton</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="app.js"></script>

  <style>
    .story-directive h4 {
      background-color: orange;
      width: 100px;
    }
  </style>

</head>
<body >
  <div ng-app="app" ng-controller="StoryController as story">

    <div class="story-container">
      <h2>Stories</h2>
      <ao-story class="story-directive"
               ng-repeat="story in story.stories"
               ng-click="main.setCurrentStory(story)">
      </ao-story>
    </div>

  </div>
</body>
</html>
