<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <title>FastTypeFix</title>

  <!--
    IE8 support, see AngularJS Internet Explorer Compatibility http://docs.angularjs.org/guide/ie
    For Firefox 3.6, you will also need to include jQuery and ECMAScript 5 shim
  -->
  <!--[if lt IE 9]>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/es5-shim/2.2.0/es5-shim.js"></script>
    <script>
      document.createElement('ui-select');
      document.createElement('ui-select-match');
      document.createElement('ui-select-choices');
    </script>
  <![endif]-->

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-sanitize.js"></script>


  <!-- ui-select files -->
  <script src="node_modules/ui-select/dist/select.js"></script>
  <link rel="stylesheet" href="node_modules/ui-select/dist/select.css">

  <script src="app.js"></script>

  <style>
    /* default selector styles */
    body {
      padding: 15px;
    }

    .select2 > .select2-choice.ui-select-match {
      /* Because of the inclusion of Bootstrap */
      height: 29px;
    }

    .selectize-control > .selectize-dropdown {
      top: 36px;
    }

    /* app styles */
    h1, h3 {
      color:steelblue;
    }
    h3 {
      text-decoration: underline;
    }


  </style>
</head>

<body ng-controller="ctrl as vm">

<h1 >Test Harness for FastTyping enhancement</h1>

  <h3 >Original</h3>
  <!-- extra field for tabbing tests -->
  <input type="text" name="field1-before" placeholder="extra field for tabbing" width="50px" autofocus><br><br>


  <!-- first selector -->
  <span>Selected Country: <b>{{vm.countryOriginal.selectedItem.name}}</b></span>

  <ui-select ng-model="vm.countryOriginal.selectedItem" theme="bootstrap" ng-disabled="vm.disabled" style="width: 300px;">
    <!--<ui-select ng-model="vm.item.selectedItem" theme="bootstrap" ng-disabled="vm.disabled">-->
    <ui-select-match placeholder="Select a value...">
      {{$select.selected.name}}
    </ui-select-match>
    <ui-select-choices repeat="country in vm.countries | filter:$select.search">
      <span ng-bind-html="country.name | highlight:$select.search"></span> ({{country.code}})
      <!--{{country.name}} (id:{{country.code}})-->
    </ui-select-choices>
  </ui-select>


  <!-- extra field for tabbing tests -->
  <br><input type="text" name="field1-after" placeholder="extra field for tabbing" width="50px"><br><br>



  <h3 >New <i>(clFastTypeBuffer directive applied)</i></h3>
  <!-- extra field for tabbing tests -->
  <br><input type="text" name="field2-before" placeholder="extra field for tabbing" width="50px"><br><br>

  <!-- second selector -->
  <span>elected Country: <b>{{vm.country.selectedItem.name}}</b></span>

  <ui-select ng-model="vm.country.selectedItem" theme="bootstrap" ng-disabled="vm.disabled" style="width: 300px;" cl-fast-type-buffer>
  <!--<ui-select ng-model="vm.item.selectedItem" theme="bootstrap" ng-disabled="vm.disabled">-->
    <ui-select-match placeholder="Select a value...">
      {{$select.selected.name}}
    </ui-select-match>
    <ui-select-choices repeat="country in vm.countries | filter:$select.search">
      <span ng-bind-html="country.name | highlight:$select.search"></span> ({{country.code}})
      <!--{{country.name}} (id:{{country.code}})-->
    </ui-select-choices>
  </ui-select>


  <!-- extra field for tabbing tests -->
  <br><input type="text" name="field2-after" placeholder="extra field for tabbing" width="50px"><br><br>


  <br><br><br>
  <!--<button class="btn btn-primary" ng-click="vm.item.selectedItem = {id: 5, name: 'fifth'}">Change Model</button>-->
  <button class="btn btn-primary" ng-click="vm.countryOriginal.selectedItem = vm.countries[16]; vm.country.selectedItem = vm.countries[16];">Manually Set</button>
  <i>(manually set to last item in list)</i><br><br>


  <button class="btn btn-default btn-xs" ng-click="vm.enable()">Enable selectors</button>
  <button class="btn btn-default btn-xs" ng-click="vm.disable()">Disable selectors</button>
  <button class="btn btn-default btn-xs" ng-click="vm.clear()">Clear models</button>


</body>
</html>
