
<div style="text-align:center">
  <h1>
    Material Components
  </h1>
  <!--<img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">-->
</div>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="">tbc...</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="">tbc...</a></h2>
  </li>
</ul>

<router-outlet></router-outlet>

<h4>Ng2 material2 spinners</h4>
  <mat-spinner [diameter]="40"></mat-spinner>
  <mat-spinner [diameter]="30" [strokeWidth]="3" [color]="'accent'" ></mat-spinner>

  <mat-progress-spinner [mode]="'indeterminate'" [diameter]="60" [color]="'warn'" [strokeWidth]="3"></mat-progress-spinner>
  <mat-progress-spinner [mode]="'determinate'" [diameter]="100" [value]="65" [color]="'accent'" [strokeWidth]="8"></mat-progress-spinner>


<h4>Ng2 material2 progress bar</h4>
  <mat-progress-bar id="bar1"
                    [value]="60" [color]="'primary'"
                    style="width:400px; height:10px; border:1px solid grey;">
  </mat-progress-bar><br/>

  <mat-progress-bar id="bar2" [mode]="'indeterminate'"
                    [value]="60" [color]="'accent'"
                    style="width:400px; height:6px;">
  </mat-progress-bar><br/>

  <mat-progress-bar id="bar3" [mode]="'buffer'"
                    [value]="60" [bufferValue]="75" [color]="'primary'"
                    style="width:400px; height:5px;">
  </mat-progress-bar><br/>

<span class="version-info">Material Build: {{version.full}}</span>
