@import '../../../assets/css/themes/hl-palette';

.hl-search-panel {
  box-shadow: 2px 2px 2px #9fb3ba;
}

.hl-search-container {
  padding: 2%;
  @media screen and (min-width: 769px) {
    padding: 6%;
  }
  @media screen and (min-width: 992px) {
    padding: 10%;
  }
  @media screen and (min-width: 1200px) {
    padding: 16%;
  }
  width: 100%;
  & input:focus {
    outline: none;
  }
}

.hl-results-container {
  margin: 0 1rem;
  & .hl-search-list {
      display: flex;
      justify-content: space-between;
  }
}

.hl-search-items {
  font-weight: 700;
  color: $hl-blue;
  padding: 0.4rem 0;
  text-align: left;
  & .hl-iemail {
    font-size: 0.85rem;
    font-weight: 500;
    font-style: italic;
  }
  & .hl-iorg {
    color: grey;
    font-size: 0.9rem;
    font-weight: 500;
  }
  &:hover {
    background-color: #f2f2f2;
  }
  & .hl-invite-btn {
    align-self: end;
  }
}

.hl-org-search, .hl-org-email-invite {
  height:40px;
}

.hl-org-search-invite {
  height:24px;
  font-size: 0.85rem;
  color: $hl-bg-grey;
}

.hl-search-msg {
  color: $hl-warning;
  font-size: 1.2rem;
  font-weight: 700;
}
