<main class="d-flex flex-column justify-content-center align-items-stretch hl-fill hl-search-container"
      [@adminRoute]="state">
  <div class="hl-search-panel">
    <p-tabView [style]="{'width':'100%'}" styleClass="hl-search-users-tabs"
               (onChange)="onTabChange($event)">
      <p-tabPanel header="&nbsp;Search" leftIcon="fa-search" [selected]="true">
        <form #searchForm="ngForm">
          <div class="mt-3">
            <div class="mb-3 mr-1">
              <span class="pl-1">Name <span style="color:darkgrey">or</span>&nbsp;Email</span>
              <input pInputText type="text" size="30" class="ml-1 searchf"
                     [(ngModel)]="search" name="search" #searchrv
                     (keydown.enter)="searchUsers()" required autocomplete="off"/>
            </div>
            <nav class="mt-3">
              <button pButton type="button" class="ui-button-info hl-org-search"
                      (click)="searchUsers();" icon="fa fa-search" iconPos="left" label="Search"
                      [disabled]="!searchForm.form.valid"></button>
            </nav>
          </div>
          <section *ngIf="dataRetrieved" [@adminRoute]="state">
            <div class="hl-results-container mt-5">
              <div *ngIf="searchResults.length > 0" class="mt-3 mb-3">
                <div *ngFor="let res of searchResults">
                  <div class="hl-search-list hl-search-items">
                    <div class="ml-2">
                      <span>{{res.user.name}}</span>
                      <span class="hl-iemail">({{res.user.email}})</span>
                      <span class="hl-iorg pl-2">"{{res.userOrganization.organizationName}}"</span>
                    </div>
                    <div class="hl-invite-btn mr-2">
                      <button pButton type="button" class="ui-button-warning hl-org-search-invite"
                              (click)="sendInvite(res.user.email);" icon="fa fa-envelope-o" iconPos="left" label="Invite"></button>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="searchResults.length == 0">
                <div class="hl-search-msg">
                  <i class="fa fa-exclamation-triangle fa-lg" aria-hidden="true"></i>
                  <span class="ml-2">No Users matching the Search Criteria.</span>
                </div>
              </div>
            </div>
          </section>
        </form>
      </p-tabPanel>
      <p-tabPanel header="&nbsp;Add New" leftIcon="fa-user-plus">
        <form #emailForm="ngForm">
          <div class="mt-3 mr-1">
            <span class="pl-1">Email</span>
            <input pInputText type="text" size="30" class="ml-1 emailf"
                   [(ngModel)]="inviteEmail" name="email" #email="ngModel" #invite
                   (keydown.enter)="sendInvite(invite)"
                   required autocomplete="off" pattern="\S+@\S+\.\S+">
          </div>
          <nav class="mt-3">
            <button pButton type="button" class="ui-button-warning hl-add-user ml-5 hl-org-email-invite"
                    (click)="sendInvite(invite);" icon="fa fa-envelope-o" iconPos="left" label="Send Invite"
                    [disabled]="email.invalid"></button>
          </nav>
        </form>
      </p-tabPanel>
    </p-tabView>
  </div>
</main>
