.panel div {
  margin: 10px 0px 5px 10px;
    input {
        margin-left: 100px;
    }
    button {
        margin-left: 10px;
    }
}

button {
  background-color: lightgray;
}

.noRequest {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 8px 0 0 100px;
}
