/* base layout */
h1 {
  text-align: center;
}
h1, h3 {
  color:steelblue;
}
h3, h4 {
  text-decoration: underline;
}
h4 {
  font-style: italic;
}
label {
  font-weight: normal;
  color: grey;
}
.lov-value {
  font-weight: normal;
  font-size: 1.4em;
  color: lightcoral;
}
.row {
  margin-top: 1.5em;
}
cl-selector > div {
  width: 330px;
}
.debug {
  color: hotpink;
}