
<div class="hl-home-container">
   <section>
      <h1 class="mt-2 card-title text-center text-white">Hermes Web</h1>
      <p class="text-center text-white">Welcome to Hermes Web App. Please Sign-In/Sign-Up.</p>
      <div class="d-flex p-2 justify-content-center">
        <!--<a href="./e-checkin" class="btn btn-lg" style="background:#6ce1ef;">Sign-In/Sign-Up</a>-->
        <a routerLink="/portal" routerLinkActive="active hl-active" class="btn btn-lg hl-link"><span class="fa fa-sign-in mr-2"></span>Sign-In / Sign-Up</a>
      </div>
    </section>
</div>







