@import '../../assets/css/themes/_hl-palette.scss';

.hl-row {
  &.hl-view-btn {
    padding-left: 20%;
  }
  button {
    border-radius: 3px;
  }
}

.hl-table-header {
  font-size: 1.2rem;
  span {
    font-size: 1.4rem;
    text-decoration: underline;
    text-decoration-color: $hl_underline;
  }
}

.hl-dd {
  font-weight: 700;
  color: $hl-blue;
}

.hl-view {
  font-size: 80%;
}

.hl-back, .hl-print  {
  height: 40px;
  width: 90px;
}

.hl-vct-no.hl-awaiting {
  color: grey;
  font-style: italic;
  font-weight: 300;
}

.hl-vct-no, .hl-awb-no {
  font-weight: 700;
  color: $hl-blue;
}

td.hl-awb-no.hl-tbl-pad {
  padding-top:0.5rem;
  padding-bottom:0.5rem;
}

.hl-reject-reason {
  color: #d9534f;
}

.hl-vct-status {
  font-weight: 500;
}

.hl-vct-filter-container {
  border: 0.1px solid lightgrey;
  background-color: #F7FFFF;
}

.hl-vct-filter-items {
  color: $hl-blue;
  font-weight: 500;
}

.hl-button {
  height:30px;
  background-color: $hl-blue !important;
  border-color: #a2a2a2 !important;
  &button{
    border-radius: 3px;
  }
  &:hover {
    background-color: #3d8281 !important;
    border-color: #757575 !important;
  }
}
.hl-button-filter {
   @extend .hl-button;
   margin-left: 3rem;
 }
.hl-button-refresh {
  @extend .hl-button;
}

.hl-gh-default-container {
  border: 0.6px solid #b7e7ed;
  padding: 3px 3px 2px 4px;
  .hl-gh-default-label {
    font-size: 0.85rem;
    color: $hl-bg-grey;
  }
  .hl-gh-default-value {
    font-size: 0.85rem;
    font-weight: 700;
    color: $hl-blue;
    //line-height: 0.94;
  }
}

.hl-gh-warning, .hl-vct-warning {
  color: $hl-warning;
  font-size: 1.2rem;
  font-weight: 700;
  .hl-gl-warn-nav {
    display: block;
    text-align: center;
    font-weight: 500;
    font-style: italic;
  }
}

.hl-gh-info {
  color: $hl-warning;
  font-size: 1.2rem;
  font-weight: 700;
}

/* ---------------------------
   -- Device specific rules --
   --------------------------- */
/* adjust table header for tablet (ipad) portrait */
@media screen and (max-width: 1024px) {
  .hl-eticket-vcts .ui-sortable-column.ui-resizable-column {
    font-size: 0.9rem !important;
  }
}
