/* imports & partials */
/*
@import 'core';					 //extension defaults to .scss
@import '_my-partial';	 //imports - _my-partial file is not compiled to css
*/

/* variables */
$grass: #009900;
$sky: #006699;

h1 {
  color: $sky;
}

p {
  color: $grass;
}


/* nesting - a basic list */
nav {
  color: darkred;
  ul {
    background-color: $sky;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline-block;
  }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }

  li:hover {
    background-color: $grass;
  }
}


/* mixins - properties physically copied to target */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

.box {
  @include border-radius(10px);
}


/* extend/inheritance - properties not copied, instead child selectors moved to parent */
.message {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
}

.success {
  @extend .message;
  border-color: green;
}

.error {
  @extend .message;
  border-color: red;
}

.warning {
  @extend .message;
  border-color: yellow;
}


/* operators - standard maths operators */
.container { width:100%; }

article[role="main"] {
  float: left;
  width: 600px / 960px * 100%;
}

aside[role="complementary"] {
  float: right;
  width: 300px / 960px * 100%;
}