

/* cl form comp */
.cl-input-form {
  width: 500px;
  margin-left: 20px;
}


/* cl input comp */
.cl-input-width {
  width: 300px;
  margin-left: 20px;
}


/* cl button comp */
.cl-button {
  margin-left: 20px;
}

