/* hermes colour Palette variables */
$hl-blue: #569392;
$hl-light-blue: #A7D7DC;

$hl-bg-grey: #484848;
$hl-bg-black: #0E0E0E;
$hl-white: #eeeeee;

$hl_underline: #88C5CA;
$hl_emphasis-text: #A7D7DC;

$hl-warning: #FF8C00;
$hl-info: $hl_blue;

$hl-error: #F18582;
$hl-error-active: #E57976;
