@import '../../../assets/css/themes/hl-palette';

.hl-associations-container {
  //padding: none;
  //margin: none;
}

.hl-invite-title {
  font-size: 1.3rem;
  font-weight: 700;
  color: darkgrey;
}

.hl-invited-section {
  margin: 4rem 0;
}

.hl-invite-items {
  font-weight: 700;
  color: $hl-blue;
  margin-bottom: 0.25rem;
  text-align: left;
  & .hl-iemail {
   font-size: 0.85rem;
   font-weight: 500;
   font-style: italic;
  }
  & .hl-istatus {
    color: grey;
  }
}

.hl-add-user {
  width:70px;
  height:30px;
  margin-left:10rem;
}
