<br/>
<cl-panel #panelOrderSearch title="Order Search" [isCollapsable]="true" >

  <span class="wip" panel-header="right"><i>[icons placeholder]</i></span>

  <div #body panel-body>
    <div class="search-container">

      <md-form-field class="cl-input-width">
        <input mdInput placeholder="Order Number" value="" [(ngModel)]="search.onum" #onum>
      </md-form-field>

      <button id="find-orders" md-raised-button color="secondary" class="cl-button"  style="color:royalblue; font-weight:700"
              (click)="findOrderByOrderNumber(onum.value);">
        <md-spinner mode="indeterminate" color="accent" [strokeWidth]="10" style="height:20px;" *ngIf="activity"></md-spinner>
        <i class="material-icons" style="font-size:24px;color:royalblue;" *ngIf="!activity">search</i>
        &nbsp;Search
      </button>

      <button id="reset" md-raised-button color="secondary" class="cl-button" style="color:lightslategrey; font-weight:normal"
              (click)="resetOrderSearch()">
        <i class="material-icons" style="font-size:24px;color:lightsteelblue;">settings_backup_restore</i>
        &nbsp;Reset
      </button>
      <p style="height:40px"></p>
    </div>

  </div>
</cl-panel>

<cl-panel-common title="Order Search" [isCollapsable]="true" >
  <span panel-header="right"><i>[icons placeholder]</i></span>
  <div #body panel-body>
    <div>THIS IS THE COMMON MODULE COMP</div>
  </div>
</cl-panel-common>


<br/>
<cl-panel #panelOrderResults title="Order Search Results" [isCollapsable]="false" *ngIf="isData">

  <span class="wip" panel-header="right"><i>[icons placeholder]</i></span>

  <div #body panel-body>
    <div style="margin-left:40px; margin-top:40px; margin-bottom:40px;">
      <div style="margin-left:40px; margin-top:40px; margin-bottom:40px;">

        <article>
          <h2>Initial Mock Order Data - Ng2 Service(findOrderByOrderNumber())</h2>

          <div *ngIf="isData">
            <ul class="order-search" type="none">
                <p>Order Number: {{order.orderNo}}</p>
                <p>Patient id:{{order.patientId}}</p>
                <p>Clinician: {{order.clinician}}</p>
                <p>Source: {{order.source}}</p>
                <p>Received Date: {{order.receivedDate}}</p>
                <p>Requested Date: {{order.requestedDate}}</p>
            </ul>
          </div>
        </article>

        <p style="height:40px"></p>
      </div>
      
      <p style="height:40px"></p>
    </div>

  </div>

</cl-panel>





<p style="height:300px"></p>
<div class="mat-elevation-z4" id="mat-container" style="margin-left:20px; background-color:white; width:1200px; height:300px" >

  <p class="mat-elevation-z6" style="font-size:20px; height:40px; background-color:steelblue; color:white">&nbsp;>&nbsp;&nbsp;Scratch Area</p>

  <!--<form class="cl-form-width">-->
  <div style="margin-left:40px; margin-top:40px;">
    <md-form-field class="cl-input-width">
      <input mdInput placeholder="Order Number" value="">
    </md-form-field>
    <button md-raised-button color="secondary" class="cl-button">
      <i class="material-icons" style="font-size:24px;color:royalblue;">search</i>&nbsp;Search
    </button>
  </div>
  <br>
  <!--<input mdInput placeholder="Order Number1" value="12345">-->
  <input placeholder="Order Number1" value="12345">
  <md-spinner mode="indeterminate" color="accent" [strokeWidth]="10" style="height:20px;"></md-spinner>
  <!--</form>-->

  <div>

    <p>native material icon:<span class="material-icons">search</span>
      <span class="material-icons">edit</span>
      <span class="material-icons">mail</span>

      <span class="material-icons">home</span>
      <span class="material-icons" style="font-size:36px;">home</span>
      <span class="material-icons" style="font-size:48px;color:mediumblue;">home</span>

      Ng2 material2 directive &lt;md-icon&gt;:
      <md-icon>warning</md-icon>
      <md-icon style="font-size:36px;color:darkorange;">warning</md-icon>

    </p>
  </div>
</div>



