html,
body {
	padding: 0;
	margin: 0;
	font-family: arial, sans-serif;
}

* {
	box-sizing: border-box;
}

.flex-container {
	display: flex;
	/*display: inline-flex;*/

	/* flex-direction: row;    // default */
	/* flex-direction: row-reverse; */
	/* flex-direction: column;*/
	/* flex-direction: column-reverse; */

	flex-wrap: wrap;
	 /*flex-wrap: nowrap;*/
	/* flex-wrap: wrap-reverse; */

	border: solid 2px #000;
	/*width: 50%;*/
	height: 10em;
}

.flex-item {
	color: #fff;
	font-size: 1.2em;
	border: solid 1px grey;
	text-align: center;
	opacity: 0.8;
	/* change width setting to diff wrapping effects (fixed px or relative %) */
	width: 25%;
	/*width: 100px;*/
}

.flex-item-01 {
	background-color: #A62E5C;
}

.flex-item-02 {
	background-color: #9BC850;
	order: 0;
	/*order: 1;*/
	/*order: -1;*/
}

.flex-item-03 {
	background-color: #675BA7;
	order: 0;
	/*order: 1;*/
	/*order: -1;*/
}

.flex-item-04 {
	background-color: #2A9FBC;
}

.flex-item-05 {
	background-color: #F15B2A;
}

.flex-item-06 {
	background-color: #9BC850;
}

.flex-item-07 {
	background-color: #A62E5C;
}

.flex-item-08 {
	background-color: #2A9FBC;
}

.flex-item strong {
	display: block;
	font-size: 130%;
}
