body {
  width: 90%;
  max-width: 900px;
  margin: 2em auto;
  font: 0.9em/1.2 Arial, Helvetica, sans-serif;
}

/* Grid Container */
.container {
  display: grid;
  grid-template-areas:				  /* alternative, placement technique */
  "header header"
  "content sidebar"
  "footer footer";
  grid-template-columns: 3fr 1fr;      /* grid the same */
gap: 20px;
}

/* Grid Items */
header {
  grid-area: header;
}

article {
  grid-area: content;
  height: 300px;
}

aside {
  grid-area: sidebar;
}

footer {
  grid-area: footer;
}

/* general styling */
header,
footer {
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(207 232 220);
  border: 2px solid rgb(79 185 227);
}

article {
  border-right: 1px solid #999;
}

/* RWD - small devices */
@media screen and (max-width: 768px) {
  article {
    grid-column: span 2;
    grid-row: 2;
    border-right: none;
  }
  aside {
    grid-column: span 2;
    grid-row: 3;
    border-left: 0;
    border-top: 1px solid #ddd;
  }
  footer {
    grid-row: 4;
  }
}