<h1>Mobile - API CORS tests</h1>
<h2>Clients API</h2>
<i>{{ config.clientsApiUrlHealth}}</i>
<p>{{ clientsApiHealth | json }}</p>
<i>{{ config.clientsApiUrl}}</i>
<p>{{ clientsApiData | json }}</p>

<h2>Asset API</h2>
<i>{{ config.assetsApiUrlHealth}}</i>
<p>{{ assetsApiHealth | json }}</p>
<i>{{ config.assetsApiUrl}}</i>
<p>{{ assetsApiData | json }}</p>

<h2>Data Capture API</h2>
<i>{{ config.dataApiUrlHealth}}</i>
<p>{{ dataApiHealth | json }}</p>
<i>{{ config.dataApiUrl}}</i>
<p>{{ dataApiData | json }}</p>

<h2>Metadata API</h2>
<i>{{ config.metaApiUrlHealth}}</i>
<p>{{ metaApiHealth | json }}</p>
<i>{{ config.metaApiUrl}}</i>
<p>{{ metaApiData | json }}</p>

<h2>Planning API</h2>
<i>{{ config.planningApiUrlHealth}}</i>
<p>{{ planningApiHealth | json }}</p>

<h2>Processes API</h2>
<i>{{ config.processesApiUrlHealth}}</i>
<p>{{ processesApiHealth | json }}</p>

<h2>Reports API</h2>
<i>{{ config.reportsApiUrlHealth}}</i>
<p>{{ reportsApiHealth | json }}</p>

<h2>Rates API</h2>
<i>{{ config.ratesApiUrlHealth}}</i>
<p>{{ ratesApiHealth | json }}</p>

<h2>SOR API</h2>
<i>{{ config.sorApiUrlHealth}}</i>
<p>{{ sorApiHealth | json }}</p>

<h2>Settings API</h2>
<i>{{ config.settingsApiUrlHealth}}</i>
<p>{{ settingsApiHealth | json }}</p>

<h2>Audit API</h2>
<i>{{ config.auditApiUrlHealth}}</i>
<p>{{ auditApiHealth | json }}</p>

