<div>
  <!--  base Reactive Form to examine FormModel (FormGroup & FormControl) -->
  <form #f="ngForm" [formGroup]="hostForm" (ngSubmit)="onSubmit(f)" >
    <div>
      <label for="name">Designer name</label>
      <input #user name="name" formControlName="designer" id="name" required/></div>
    <div>
      <label for="notes">Comments</label>
      <input name="comments" formControlName="comments" id="notes"/></div>
    <div>
      <label for="notes">Quantity control</label>
      <app-custom-quantity #q [increment]="10" formControlName="totalQuantity"></app-custom-quantity>
      <button (click)="setTotalQuantity()" >set Total Quantity</button>
    </div>
    <div>
      <button type="submit">Submit</button>
    </div>
    <!-- Debugging within template -->
    <pre><b>(Comp Prop) Form value:</b> {{ hostForm.value | json }}</pre>     <!-- via comp prop -->
    <pre><b>(Comp Prop) Form valid:</b> {{ hostForm.valid }}</pre>
<!--    <pre><b>(temp ref var) Form value:</b> {{ f.value | json }}</pre>         &lt;!&ndash; via #f temp ref var &ndash;&gt;-->
<!--    <pre><b>(temp ref var) Form valid:</b> {{ f.valid }}</pre>-->
    <pre><b>(Comp Prop) touched:</b> {{ totalQuantity.touched }}</pre>
    <pre><b>(Comp Prop) Quantity:</b> {{ totalQuantity.value }}</pre>
    <pre><b>(custom comp) Quantity:</b> {{ q.quantity }}</pre>                 <!-- via #user temp ref var -->
    <div><b>Errors</b>(comp built -in validator  & model validators)</div>
    <pre><b>Quantity Error Obj:</b> {{ totalQuantity.errors | json}}</pre>
  </form>
</div>
