<div>
  <!--  base Reactive Form to examine FormModel (FormGroup & FormControl) -->
  <form #myForm="ngForm" [formGroup]="loginForm" (ngSubmit)="onSubmit(myForm)" >
    <pre>Form value: {{ myForm.value | json }}</pre>
    <pre>Form valid: {{ myForm.valid }}</pre>
    <pre>Form value: {{ loginForm.value | json }}</pre>
    <pre>Form valid: {{ loginForm.valid }}</pre>
    <div>
      <label for="myId">Username</label>
      <input #user name="username" formControlName="username" id="myId" required/></div>
    <div>
      <label for="myId2">Password</label>
      <input name="password" formControlName="password" id="myId2"/></div>
    <div>
      <button type="submit">Submit</button>
    </div>
    <pre>First value: {{ user.value }}</pre>
  </form>
</div>

