<h1>Angular {{name}}</h1>

<div class="mat-elevation-z2" id="mat-container" style="margin: auto; border:1px solid lightsteelblue; width:900px; height:400px" >

  <h2 style="color:darkslateblue; margin-left:10px"> > Panel Component <i style="color:indianred">[placeholder]</i></h2>

  <form class="cl-form-width">
    <md-form-field class="cl-input-width" >
      <input mdInput placeholder="Order Number" value="">
    </md-form-field>
    <button md-raised-button color="primary" class="cl-button"><i class="material-icons" style="font-size:24px;color:lightsteelblue;">search</i>&nbsp;Search</button>
    
    <!--<br>-->
      <!--<input mdInput placeholder="Order Number1" value="12345">-->
      <!--<input placeholder="Order Number1" value="12345">-->
  </form>

  <div>

    <p>native material icon:<span class="material-icons">search</span>
      <span class="material-icons">edit</span>
      <span class="material-icons">mail</span>

      <span class="material-icons">home</span>
      <span class="material-icons" style="font-size:36px;">home</span>
      <span class="material-icons" style="font-size:48px;color:mediumblue;">home</span></p>

    <p>Ng2 material2 directive &lt;md-icon&gt;:
      <md-icon>warning</md-icon>
      <md-icon style="font-size:36px;color:darkorange;">warning</md-icon>
    </p>


    <p>
      Ng2 material2 spinners
      <md-spinner color="accent" strokeWidth="8" style="height:20px;"></md-spinner>
      <md-progress-spinner mode="indeterminate" color="accent" strokeWidth="8" style="height:20px;"></md-progress-spinner>
    </p>

  </div>


</div>

