<h1>{{title}} by {{myHero}}</h1>

<span *ngIf="myTrueProp">ngIf *prefix syntax</span><br>
<template [ngIf]="myfalseProp">
  <span>finally unfold into Html with &lt;template&gt; tag</span>
</template>



<h2>ngClass  (check classes in dev tools)</h2>

<h4>example1: basic {{'{'}}key:value{{'}'}} obj</h4>
<div [ngClass]="{'ao-orange': myTrueProp}" >ao-orange class added as value true</div>

<h4>example2: multiple key:value</h4>
<div [ngClass]="{'ao-orange': myTrueProp,
                 aogrey: myFalseProp,
                 aopink: myTrueProp}" >ao-orange & ao-pink class added as value true</div>

<h4>example3: fn returns obj managing the state of 3 CSS classes</h4>
<p>setClasses returns {{setClasses() | json}}</p>
<div [ngClass]="setClasses()">saveable & special classes added as are truthy</div>
<div [ngClass]="setClasses()" #classDiv>
  can refer to classes via a template ref var: "{{classDiv.className}}"
</div>



<br>
<h2>ngStyle (check styles in dev tools)</h2>
<h4>example1: using style binding [style.name]</h4>
<div [style.font-size]="myTrueProp ? '16px' : '8px'" >This div is 16px</div>

<h4>example2: basic &#123;key:value&#125; obj</h4>
<div [ngStyle]="{'font-size': '24px'}" >This div is 24px</div>

<h4>example3: fn returns obj managing the state of 3 CSS classes</h4>
<p>setStyles returns {{setStyles() | json}}</p>
<div [ngStyle]="setStyles()">div is italic, normal weight & 24px</div>



<br>
<h2 id="ngSwitch">ngIf & NgSwitch </h2>

<fieldset #toePicker (click)="toeChooser(toePicker)" >
  <input type="radio" name="toes" value="Eenie">Eenie
  <input type="radio" name="toes" value="Meanie">Meanie
  <input type="radio" name="toes" value="Miney">Miney
  <input type="radio" name="toes" value="Moe">Moe
  <input type="radio" name="toes" value="???">???
</fieldset>

<div class="toe">
  <div *ngIf="!toeChoice">Pick a toe</div>
  <div *ngIf="toeChoice">
    You picked ...
    <span [ngSwitch]="toeChoice">
      <!-- with *NgSwitch -->
      <span *ngSwitchCase="'Eenie'">Eenie</span>
      <span *ngSwitchCase="'Meanie'">Meanie</span>
      <span *ngSwitchCase="'Miney'">Miney</span>
      <span *ngSwitchCase="'Moe'">Moe</span>
      <span *ngSwitchDefault>other</span>

      <!-- with <template> -->
      <template [ngSwitchCase]="'Eenie'"><span>Eenie</span></template>
      <template [ngSwitchCase]="'Meanie'"><span>Meanie</span></template>
      <template [ngSwitchCase]="'Miney'"><span>Miney</span></template>
      <template [ngSwitchCase]="'Moe'"><span>Moe</span></template>
      <template ngSwitchDefault><span>other</span></template>

    </span>
  </div>
</div>

