@import '../../../assets/css/themes/hl-palette';

.hl-accept-container {
  background-color: white;
  box-shadow: 2px 2px 2px #9fb3ba;
}

.hl-accept {
  display: inline-block;
  width:100px;
  height:30px;
  margin-left:3px;
}
.hl-reject {
  display: inline-block;
  background-color: $hl-error !important;
  border-color: $hl-error !important;
  width:100px;
  height:30px;
  margin-left:3px;
  &.ui-button.ui-button-danger:enabled:hover {
    background-color: $hl-error-active !important;
    border-color: $hl-error-active !important;
  }
}

.hl-label {
  color: grey;
}
