<div class="d-flex flex-column align-items-stretch mt-4" [@hlList]="true">

  <div class="mt-1 flex-fill">
    <div class="card special-card text-center">
      <div class="card-body">
        <h5 class="card-title">Pick-up</h5>
        <p class="card-text">Start here to Pick-up a consignment.</p>
        <a routerLink="/e-checkin" routerLinkActive="active hl-active" class="btn btn-info hl-home-button">Go Pick-up</a>
      </div>
    </div>
  </div>
  <div class="mt-3 flex-fill">

    <div class="card special-card text-center">
      <div class="card-body">
        <h5 class="card-title">Drop-Off</h5>
        <p class="card-text">Start here to Drop-off a consignment.</p>
        <a routerLink="/dropoff" routerLinkActive="active hl-active" class="btn btn-info hl-home-button">Go Drop-off</a>
      </div>
    </div>

  </div>
  <div class="mt-3 flex-fill">

    <div class="card special-card text-center">
      <div class="card-body">
        <h5 class="card-title">E-Ticket(s)</h5>
        <p class="card-text">Check your E-Ticket details here.</p>
        <a routerLink="/eticket" routerLinkActive="active hl-active" class="btn btn-info hl-home-button">
          E-Ticket(s)
          <!--<span *ngIf="!badgeSpinner" class="badge badge-light hl-badge">{{eticketCount}}</span>-->
          <!--<span *ngIf="badgeSpinner" class="hl-badge hl-spin fa fa-spinner fa-spin"></span>-->
        </a>
      </div>
    </div>

  </div>
</div>


