html,
body {
	padding: 0;
	margin: 0;
	font-family: arial, sans-serif;
}

.flex-container {
	display: flex;
	border: solid 4px #000;
    height: 36.72em;

    flex-direction: row;
/*	flex-direction: column;*/

/*  justify-content: flex-start;*/
/*	justify-content: flex-end;*/
	justify-content: center;
/*  justify-content: space-evenly;*/
/*	justify-content: space-between;*/
/*	justify-content: space-around;*/

/*  align-items: flex-start;*/
/*  align-items: flex-end;*/
    align-items: center;
/*  align-items: baseline;*/
/*  align-items: stretch;*/
}

.flex-item {
	color: #fff;
	font-size: 1.2em;
	padding: 1em;
	text-align: center;
}

.flex-item-01 {
	background-color: #A62E5C;
/*	align-self: stretch;*/
}

.flex-item-02 {
	background-color: #9BC850;
    padding-top: 3em;
    padding-bottom: 3em;
/*	align-self: center;*/
}

.flex-item-03 {
	background-color: #675BA7;
    padding: 4em 4em;
}

.flex-item-04 {
	background-color: #2A9FBC;
    padding: 2em 3em;
}

.flex-item strong {
	display: block;
	font-size: 130%;  
}	
