
.todo-container {
  position: relative;
  top: 100px;
  left: 200px;
  color: royalblue;
}

#title {
  display: inline-block;
  font-weight: 700;
  text-decoration: underline;
  margin-bottom: 20px;
}

